.footer {
  border-top: 1px solid #008000;
  padding-top: 30px;
  margin-top: 50px;

  p {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 10px;
  }

  .icon {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 1.8rem;
  }
  .icon:hover {
    color: rgb(56, 165, 42);
  }
}

.names-footer-container {
  font-weight: 600;
  height: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.double-name-container {
  width: 450px;
  display: flex;
  justify-content: space-between;
}

.single-name-container {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;

  a:visited {
    color: black;
  }
  a {
    color: black;
  }
}
