.contactContainer {
  max-width: 1300px;
  margin: 0 auto;
  h2{
    font-family: "Open Sans", sans-serif;
    letter-spacing: 4px;
    color: green;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 2rem;
    text-align: center;
  }
}

.contactForm {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;

  input {
    padding: 10px;
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;

    &:focus {
      outline: none;
    }
  }
  textarea {
    max-width: 400px;
    height: 150px;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    resize: none;

    &:focus {
      outline: none;
    }
  }

  button{
      max-width: 120px;
      margin-left: auto;
      padding: 8px 25px;
      margin-top: 10px;
      background-color: rgb(6, 197, 6);
      color:#fff;
      border:1px solid rgb(6,197,6);
      border-radius: 5px;
      cursor: pointer;
      margin-right: 20px;

      &:hover{
        background-color: #fff;
        color:rgb(6, 197, 6);
        border:1px solid rgb(6, 197, 6); 
      }

      &:focus{
        background-color: rgb(6, 197, 6);
        color:#fff;
        outline:none;
      }
  }
}
