@media (max-width: 480px) {
  .container {
    max-width: 100%;
    min-width: 100%;
  }
}

@media (max-width: 768px) {
  .calory-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .calory-serving {
    margin-bottom: 10px;
  }
}
