@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");

.sideContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100%;
  max-width: 600px;
}

.mainImg {
  max-width: 80%;
  height: auto;
  margin: 0 auto;
}

.mainHeader {
  margin-bottom: 50px;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 4px;
  color: rgb(247, 123, 144);
}

@media only screen and (max-width: 500px) {
    .mainImg{
        max-width: 50%;
    }
    .mainHeader{
        font-size: 2rem;
        margin-bottom: 15px;
        margin-top: 0px;

    }
}

@media only screen and (min-width: 500px) and (max-width: 992px) {
    .mainImg{
        max-width: 60%;
    }
}
