.container {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  text-align: center;
  width: 250px;
  height: 350px;
  margin: 10px;
  padding: 4px;
  border: 1px solid #e6e6e6;
  border-radius: 9px;
  background-color: #e6e6e6;
  font-size: 100%;
}
.FoodCard {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 5px;
  border: 0.5px;
  outline: 0;
  font-size: 100%;

  background: transparent;
}
img {
  width: 100%;
  height: auto;
  display: inline-block;
  text-align: center;
}
.p1 {
  font-size: 14px;
  text-align: left;
  margin: 10px;
  height: 34px;
}
.info {
  display: flex;
  justify-content:space-around;
  padding: 10px 0px 8px;
  margin: 0px 10px;
  text-align: center;
  .p2 {
    font-size: 14px;
    text-align: left;
  }
}
.icon {
  text-decoration: none;

  .Heart {
    color: green;
    font-size: 16px;
  }
  .Utensils {
    color: green;
    font-size: 14px;
  }
}
