.line-container {
  padding: 0px;
  margin: 0px;
  height: 40px;
  overflow: hidden;
  p {
    font-weight: 500;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
  }
  /*text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;*/
}
