@media only screen and (max-width: 480px) {
  .mainContent {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
  .mainContent {
    display: flex;
    flex-direction: column-reverse;
  }
}

.header {
  text-align: center;
  margin-top: 20px;
}
.spinner-container {
  width: fit-content;
  margin: 50px auto;
}
.faSpinner {
  font-size: 40px;
  color: green;
}
