body {
  background-color: #f2f2f2;
  font-family: "RobotoDraft", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}
m * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h5 {
  margin: 0px;
  font-size: 1.4em;
  font-weight: 700;
}

p {
  font-size: 12px;
}

.titleHolder {
  margin: 10px 0 5px 0;
}

.recipeWrapper {
  width: 350px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 25px 0 0 20px;
}

.recipeTitle {
  display: flex;
  justify-content: center;
}

.recipeSearch {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-left: 5%;
  width: 250px;
}

.recipeSearch input {
  width: 100%;
  height: 95%;
  padding: 5%;
  margin: auto;
  font-weight: 700;
  color: rgba(21, 22, 21, 0.75);
  font-size: 18px;

  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 0 8px;
  border-radius: 15px;
  height: 40px;
  padding: 10px;
}

.recipeSearch input::placeholder {
  color: rgba(75, 75, 75, 0.75);
  font-weight: 400;
  font-size: 14px;
}

.recipeSearch input:focus {
  outline: none !important;
}

.card {
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #cecece;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  box-shadow: 3px 1px 10px #719ece;
}

.cardImage {
  height: 200px;
}

/* End Non-Essential  */

.propertyCard {
  height: 18em;
  width: 14em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.propertyImage {
  height: 6em;
  width: 14em;
  padding: 1em 2em;
  position: Absolute;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Bottom Card Section */

.propertyDescription {
  background-color: #fafafc;
  height: 12em;
  width: 14em;
  position: absolute;
  bottom: 0em;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align: center;
}

.propertyImageTitle {
  text-align: center;
  position: Relative;
  opacity: 0;
  color: black;
  font-size: 1.2em;
}

.propertyCard:hover .propertyImageTitle {
  opacity: 1;
}

.userInfo {
  margin-top: 450px;
  padding: 30px;
}
