@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.modal {
  font-size: 12px;
  outline: 0;
  background: transparent;
  background-color: #e6e6e6;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.home-trigger-btn {
  box-shadow: inset 0px 1px 0px 0px #d9fbbe;
  background: linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
  background-color: #b8e356;
  border-radius: 6px;
  border: 1px solid #83c41a;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #7da63c;
  margin-top: 2px;
  margin-bottom: 10px;
}
.home-trigger-btn:hover {
  background: linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
  background-color: #a5cc52;
}
.home-trigger-btn:active {
  position: relative;
  top: 1px;
}

.modal p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  padding-left: 10%;
}

.modal p span {
  color: rgb(255, 85, 34);
}

.modal button {
  background-color: #44c767;
  border: 1px solid #18ab29;
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 14px;
  padding: 5px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  margin-left: 5px;
  outline: none;
}
.modal button:hover {
  background-color: #5cbf2a;
}
.modal button:active {
  outline: none;
}

.modal img {
  display: block;
  margin: 0 auto;
  border: 1px solid gray;
  margin-bottom: 10px;
  width: 80%;
}

.popup-content {
  margin: auto;
  background: rgb(235, 235, 235);
  padding: 5px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
