// .card {
// 	padding: 10px;
// 	margin: 10px auto;
// 	border: 2px solid black;
// 	border-radius: 10px;
// 	height: 90vh;
// 	width: 90%;
// 	display: flex;
// 	flex-wrap: wrap;
// 	justify-content: center;
// 	align-items: center;
// }

// .cardImage {
// 	height: 200px;
// }

// /* End Non-Essential  */

// .propertyCard {
// 	height: 18em;
// 	width: 14em;
// 	display: -webkit-box;
// 	display: -ms-flexbox;
// 	display: flex;
// 	flex-wrap: wrap;
// 	-webkit-box-orient: vertical;
// 	-webkit-box-direction: normal;
// 	-ms-flex-direction: column;
// 	flex-direction: column;
// 	position: relative;
// 	-webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
// 	-o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
// 	transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
// 	border-radius: 16px;
// 	overflow: hidden;
// 	-webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
// 	box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
// }

// .propertyImage {
// 	height: 6em;
// 	width: 14em;
// 	padding: 1em 2em;
// 	position: Absolute;
// 	top: 0px;
// 	-webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
// 	-o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
// 	transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
// }

// /* Bottom Card Section */

// .propertyDescription {
// 	background-color: #fafafc;
// 	height: 12em;
// 	width: 14em;
// 	position: absolute;
// 	bottom: 0em;
// 	-webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
// 	-o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
// 	transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
// 	padding: 0.5em 1em;
// 	text-align: center;
// }

// .propertyImageTitle {
// 	text-align: center;
// 	position: Relative;
// 	opacity: 0;
// 	color: black;
// 	font-size: 1.2em;
// }

// .propertyCard:hover .propertyImageTitle {
// 	opacity: 1;
// }



.propertyCard{
	border:1px solid gray;
	display: flex;
	flex-direction: column;
	width: 170px;
	height: 250px;
	margin:0 10px 30px 10px;
	&:hover{
		border:2px solid green;
	}

	img{
		width: auto;
		height: 150px;
		border-bottom:1px solid black;
	}
}

.propertyDescription{
	margin-top: 20px;
	text-align: center;
}



@media only screen and (max-width: 500px) {
    
	.propertyCard{
		width: 150px;
	}


  }