body {
  background-color: #f2f2f2;
  font-family: "RobotoDraft", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h5 {
  margin: 0px;
  font-size: 1.4em;
  font-weight: 700;
}

p {
  font-size: 12px;
}

.card {
  padding: 10px;
  margin: 10px auto;
  border: 2px solid black;
  border-radius: 10px;
  height: 90vh;
  max-height: 1000px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cardImage {
  height: 200px;
}

/* End Non-Essential  */

.propertyCard {
  height: 225px;
  max-width: 150px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  background: white;
  box-sizing: border-box;
  border: 1px solid rgb(161, 161, 161);
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}
.propertyCard-dragging {
  height: 225px;
  width: 180px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  background: none;
  box-sizing: border-box;
  border: 3px solid rgb(53, 200, 16);
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow: 15px 15px 27px #8a8a8b, -15px -15px 27px #ffffff;
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.propertyImage {
  height: 120px;
  width: 100%;
  padding: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.propertyImage img {
  display: flex;
  justify-content: center;
  height: 120px;
  width: 95%;
  padding: 0;
  margin: 4px 0 0 4px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

/* Bottom Card Section */

.propertyDescription {
  height: 18px;
  width: 100%;
  font-family: "Open-Sans", sans-serif;
  font-size: 16px;
  margin: 7px 0 0 2px;

  /* -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); */
  padding: 0;
  text-align: center;
}
.propertyDescription p {
  height: 30px;
  width: 100%;
  font-family: "Open-Sans", sans-serif;
  font-size: 16px;
  text-align: left !important;

  /* -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); */
  margin: 5px 0 10px 0;
  text-align: center;
}

.propertyImageTitle {
  text-align: center;
  display: flex;
  opacity: 0;
  color: black;
  font-size: 1.2em;
}

.buttonHolder {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 10px;
}
.buttonHolder button {
  display: flex;
  margin: 4px 25px 0 0;
  width: 30px;
  height: 20px;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
}

/* .propertyCard:hover .propertyImageTitle {
  opacity: 1;
} */
