.foodDataList {
  max-width: 100%;
}

.cardContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.foodCard {
  width: 150px;
  margin-left: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.cardImg {
  width: 100%;
  height: auto;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.cardLike {
  width: 20px;
  height: auto;
}

.cardAdd {
  width: 20px;
  height: auto;
}

li {
  list-style: none;
}

.cardOptions {
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
  width: 100%;
}
