.middleContainer{
    max-width: 1300px;
    height: auto;
    display: flex;
    margin: 0 auto;
    margin-top: 150px;
    flex-wrap: nowrap;

    img{
        width: 600px;
        height: 430px;
        margin-left: auto;
    }

    p{
        font-family: "Quattrocento Sans", sans-serif;
        color: rgb(206, 92, 111);
        font-size:1.7rem;
        font-style:italic;
        text-indent: 20px;
        max-width: 500px;
    }

}

.middleheaderMobile{
    display:none;
}


.textContainer{
    display:flex;
    flex-direction: column;


    h4{
        text-align: center;
        font-family: "Quattrocento Sans", sans-serif;
        color: rgb(206, 92, 111);
        font-size:2rem;
        font-style:italic;
        max-width: 500px;
        line-height: 3rem;
    }
}

@media only screen and (max-width: 500px) {
    .middleContainer img{
        animation: none;
    }
  }
  
  @media only screen and (max-width: 992px) {
 
    .middleheaderMobile{
        display:inline;
        text-align: center;
        font-family: "Quattrocento Sans", sans-serif;
        color: rgb(206, 92, 111);
        font-size:2rem;
        font-style:italic;
        margin-bottom: 45px;
    }

    .middleContainer{
        flex-direction: column-reverse;
        margin-top: 50px;
        img{
            display: inline-block;
            width: 70%;
            height: auto;
            margin:0 auto;
        }
        p{
            font-size: 1.5rem;
            width: 95%;
            margin: 0 auto;
            margin-top: 35px;
            
        }

    }

    .middleheader{
        display:none;
    }

  }
  