.singleday-container {
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(209, 204, 204);
  min-width: 23%;
  min-height: 100px;
  border-radius: 30px;
  margin: 10px 8px;
  min-height: 400px;
  -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
  position: relative;
}

.singleday-container-over {
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(209, 204, 204);
  min-width: 23%;
  min-height: 100px;
  border-radius: 30px;
  margin: 10px 8px;
  min-height: 400px;
  -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 5px 7px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 5px 7px rgba(0, 0, 0, 0.25);
  position: relative;
  background: rgba(128, 255, 0, 0.493);
}

.singleday-container p {
  font-size: 26px;
  margin: 10px auto;
  border-bottom: 1px solid #008000;
  padding-bottom: 5px;
  font-weight: 200;
  color: #008000;
}
.singleday-container-over p {
  font-size: 26px;
  margin: 10px auto;
  border-bottom: 1px solid #008000;
  padding-bottom: 5px;
  font-weight: 200;
  color: #008000;
}

.recipeName {
  display: inline-block;
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nameHolder {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.removeRecipe {
  color: red;
  font-weight: bold;
  margin-left: 5px;
}

.removeRecipe:hover {
  cursor: pointer;
}

.bottomInfo {
  position: absolute;
  bottom: 0px;
  margin-bottom: 10px;
}
